
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

/* Animations */
.animate {
    animation-duration: 2s;
    animation-fill-mode: both;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-90px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInTop {
    animation-name: fadeInTop;
}

.fadeInDown {
    animation-name: fadeInDown;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeInRight {
    animation-name: fadeInRight;
}

body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-pad1{
    padding: 40px 80px;
}

.section-marg1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

/* Header - Navbar */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e8c7f6;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #1a1a1a;
    transition: 0.3s ease; /*for smooth transitioning while hovering the tabs */
}

#navbar li a:hover,
#navbar li a.active{
    color: #7b2b98;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #7b2b98;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Shop DropDown */
/* Dropdown Button */
.shop-dropbtn {
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.shop-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.shop-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.shop-dropdown-content a {
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.shop-dropdown-content a:hover {
    background-color: #f2d8fa;
    border-radius: 10px;
}

/* Show the dropdown menu on hover */
.shop-dropdown:hover .shop-dropdown-content {
    display: block;
}


/* Modal - Login Form */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 130px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* animation-name: animatetop;
    animation-duration: 0.4s */
}

.modal-header{
    padding: 10px 50px;
    text-align: center;
}
.modal-header h2 {
    font-size: 33px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
}
.modal-body {
    padding: 50px 50px;
}
.customer_login {
    text-align: center;
}
.customer_login .form-group {
    padding-bottom: 10px;
}
.customer_login label {
    width: 25%;
    display: inline-block;
}

.customer_login .form-control {
    width: 74%;
    display: inline-block;
    border: 1px solid #e1e1e1;
    padding: 15px 15px;
    height: 50px;
    border-radius: 20px;
}

.customer_login .form-control:focus {
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px #999;
}

.customer_login .form-control::placeholder {
    color: #999;
    text-transform: capitalize;
}

.customer_login .btn {
    width: 40%;
    padding: 7px 15px;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background-color: #7b2b98;
    border-radius: 20px;
    border: none;
    margin: 0 0 20px;
    transition: all 0.3s;
    cursor: pointer;
}

.customer_login .btn:hover,
.customer_login .btn:focus {
    background-color: #fff;
    color: #7b2b98;
    border: 2px solid #7b2b98;
}

.customer_login span {
    display: block;
    color: #444;
}

.customer_login span a {
    color: #7b2b98;
    transition: all 0.3s ease 0s;
}

.customer_login span a:hover {
    color: #000;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Registration Form */
.registration_form {
    width: 65%;
    margin: auto;
}
.signup_form {
    text-align: center;
    padding: 30px 30px;
    background: #e8c7f6;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.signup_form h2 {
    font-size: 33px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.signup_form .form-group {
    padding-bottom: 10px;
}

.signup_form label {
    width: 25%;
    text-align: left;
    display: inline-block;
}

.signup_form .form-control {
    width: 74%;
    display: inline-block;
    border: none;
    padding: 15px 15px;
    height: 50px;
    border-radius: 20px;
}

.signup_form .form-control:focus {
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px #999;
}

.signup_form .form-control::placeholder {
    color: #999;
    text-transform: capitalize;
}

.signup_form .btn {
    width: 25%;
    padding: 10px 7px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
    background-color: #7b2b98;
    border-radius: 20px;
    transition: all 0.3s;
    border: none;
    cursor: pointer;
}

.signup_form .btn:hover,
.signup_form .btn:focus {
    background-color: #fff;
    color: #7b2b98;
    border: 1px solid #7b2b98;
}

/*===== Home Page =====*/

/* Top-Banner */

#hero{
    background-image: url('/we-project/img/mainpage-banner.png');
    background-color: #f4dcff;
    height: 80vh;
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left 80% top 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1{
    color: #7b2b98;
}

#hero button {
    background-image: url('/we-project/img/button.png');
    background-color: transparent;
    color: #7b2b98;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

/* Features Section */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .feature-box img{
    width:100%;
    margin-bottom: 10px;
}

#feature .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: #7b2b98;
    background-color: #fbe0fe;
}

#feature .feature-box:nth-child(2) h6{
    background-color: #f4f3c5;
}
#feature .feature-box:nth-child(3) h6{
    background-color: #d2e9f2;
}
#feature .feature-box:nth-child(4) h6{
    background-color: #cdf8ce;
}
#feature .feature-box:nth-child(5) h6{
    background-color: #f6dbdb;
}
#feature .feature-box:nth-child(6) h6{
    background-color: #e5faff;
}

/* Featured Products Section */
#product1 {
    text-align: center
}

#product1 .pro-container {
    display: flex;
    justify-content:center;
    gap: 5px;
    padding-top: 20px;
    flex-wrap: wrap; /* to display total 4 products in one row */
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .desc{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .desc span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .desc a{
    text-decoration: none;
}
#product1 .pro .desc h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .desc i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .desc h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #7b2b98;
}

#product1 .pro .cart-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f3e0fa;
    color: #7b2b98;
    border: 1px solid #e8c7f6;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Wish Icon */
#product1 .pro .wish-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f3e0fa;
    color: #7b2b98;
    border: 1px solid #e8c7f6;
    position: absolute;
    bottom: 20px;
    right: 60px;
}
#prodetails .single-pro-details .wish-icon{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #f3e0fa;
    color: #7b2b98;
    border: 1px solid #e8c7f6;
    /* position: absolute;
    bottom: 20px;
    right: 60px; */
}
#prodetails .single-pro-details .wishlistBtn{
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin-right: 5px;
}

/* Call to action section */
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/we-project/img/banner/bag-banner1.png');
    background-image: linear-gradient(to right top, #3e5151, #465d55, #556755, #6c7054, #877757);
    width: 100%;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

#banner h4{
    color: #fff;
    font-size: 16px;
}

#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #e8c7f6;
}

#banner button:hover {
    background-color: #7b2b98;
    color: #fff;
}

/* Deal Call to action section */
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/img/banner/b17.jpg');
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url('/img/banner/b10.jpg');
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button{
    background: #088178;
    border: 1px solid #088178;
}

/* Text Banner Section */
#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('/img/banner/b7.jpg');
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2{
    background-image: url('/img/banner/b4.jpg');
}
#banner3 .banner-box3 {
    background-image: url('/img/banner/b18.jpg');
}

#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: #ef3636;
    font-weight: 800;
    font-size: 15px;
}

/* Newsletter section */
#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('/we-project/img/banner/b14.png');
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #290442;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: #7b2b98;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer Section */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: #836a89;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #43005b;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

/*===== Men Page =====*/
#shop-header.men-header {
    background-image: url('/we-project/img/banner/men-banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 top 18%;
    height: 30vh;
}
/*===== Women Page =====*/
#shop-header.women-header {
    background-image: url('/we-project/img/banner/women-banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 top 18%;
    height: 30vh;
}
/*===== Kids Page =====*/
#shop-header.kids-header {
    background-image: url('/we-project/img/banner/kids-banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 top 18%;
    height: 30vh;
}

/*===== Shop Page =====*/
#shop-header {
    background-image: url('/we-project/img/banner/shop-banner.jpg');
    width: 100%;
    height: 45vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: left 20% top 35%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#shop-header h2,
#shop-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}
#pagination a {
    text-decoration: none;
    background-color: #7b2b98;
    padding: 15px 20px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
}
#pagination a:hover {
    background-color: #f6e0ff;
    color: #7b2b98;
    border: 1px solid #7b2b98;
}
#pagination a i{
    font-size: 16px;;
    font-weight: 600;
}

/*===== Single Product Details =====*/
#prodetails {
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
    font-size: 26px;
}
#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details input:focus {
    outline: none;
}
#prodetails .single-pro-details button {
    background-color: #7b2b98;
    color: #fff;
}
#prodetails .single-pro-details span {
    line-height: 25px;
}

/*===== About us page =====*/
#shop-header.about-header {
    background-image: url('/we-project/img/about/about-us-banner.jpg');
    background-color: #e2cfaa;
    background-position: top 35% right 170px;
    background-size: cover;
}

#about-head {
    display: flex;
    align-items: center;
}
#about-head img {
    width: 50%;
    height: auto;
}
#about-head p{
    line-height: 1.6;
}

#about-head div{
    padding-left: 40px;
}

#about-app {
    text-align: center;
}
#about-app a{
    color: #7b2b98;
    text-decoration: none;
}
#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*===== Contact Page =====*/
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
}
#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button {
    background-color: #7b2b98;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

/*===== cart Page =====*/
#shop-header.cart-header {
    background-image: url('/we-project/img/banner/cart-banner.jpg');
    background-position: top 120% right 0;
    background-size: cover;
    height: 40vh;
}
#shop-header.cart-header h2,
#shop-header.cart-header p{
    color: #564861;
}
#cart {
    overflow-x: auto;
}
#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}
#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}
#cart table tr td button {
    color: #333;
    border: 1px solid #7b2b98;
    border-radius: 5px;
}
#cart table tr td button:hover {
    background-color: #7b2b98;
    color: #fff;
}
#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.empty-result h3{
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #e1e1e1;
    font-size: 22px;
    color: #333;
    background-color: #f5f5f5;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}
#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    border-radius: 4px;
}
#coupon button,
#subtotal button {
    background-color: #7b2b98;
    color: #fff;
    padding: 12px 20px;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/*===== Show Orders Page =====*/
#orders-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#orders-section h2{
    padding-bottom: 20px;
    color: #3c085f;
}
#orders-section .products-purchased{
    margin-top: 20px;
    background-color: #ffeded;
    width: 50%;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #b89e9e;
}
#orders-section .products-purchased h4{
    padding-bottom: 10px;
    font-size: 23px;
}
#orders-section .products-purchased span{
    font-weight: 500;
    line-height: 1.8;
}

#orders-section .order-details{
    background-color: #faecff;
    padding: 15px 30px;
    width: 50%;
    margin: 20px 0 10px 0;
    border-radius: 5px;
    text-align: left;
}
#orders-section .order-details table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#orders-section .order-details table tr{
    border-bottom: 1px solid #ddd;
}
#orders-section .order-details table td{
    padding: 10px 0;
    padding-left: 20px;
    border-left: 2px solid #c0b5b5;
}
#orders-section .order-details p{
    color: #222;
    font-size: 16px;
}
#orders-section button a{
    text-decoration: none;
}
#orders-section button{
    color: #7b2b98;
    border: 2px solid #7b2b98;
}
#orders-section button:hover {
    color: #fff;
    background-color: #7b2b98;
    border: 2px solid #7b2b98;
}

/*===== Checkout =====*/
#placeOrder {
    text-align: center;
    background-color: #fbebff;
}
#placeOrder h2 {
    font-size: 33px;
    font-weight: 700;
    color: #444;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
#placeOrder .form-group {
    padding-bottom: 10px;
}

#placeOrder label {
    width: 15%;
    text-align: left;
    display: inline-block;
}

#placeOrder .form-control {
    width: 40%;
    display: inline-block;
    border: none;
    padding: 15px 15px;
    height: 50px;
    border-radius: 20px;
}
#placeOrder .form-control-message {
    width: 40%;
    display: inline-block;
    border: none;
    padding: 15px 15px;
    height: 80px;
    border-radius: 20px;
}
#placeOrder .form-control-message:focus{
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px #999;
}

#placeOrder .form-control:focus {
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px #999;
}

#placeOrder .form-control::placeholder {
    color: #999;
    text-transform: capitalize;
}
#placeOrder .form-group button {
    margin-top: 20px;
    color: #1a1a1a;
    border: 2px solid #7b2b98;
    background-color: #fff;
}
#placeOrder .form-group button:hover {
    background-color: #7b2b98;
    color: #fff;

}

/*===== Category/Search Navbar =====*/
#cat-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 80px;
    background-color: #e8c7f6;
    /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06); */
    z-index: 999;
    position: sticky;
    /* top: 70px; */
    left: 0;
}

#header .search {
    margin: 0 auto;
}

#cat-header .search .form-control {
    border: none;
    background-color: #f5f5f5;
    padding: 12px 50px;
    border-radius: 20px 0 0 20px;
}

#cat-header .search .form-control:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

#cat-header button{
    background-color: #7b2b98;
    color: #fff;
    padding: 11px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#header .search .btn:hover {
    box-shadow: 0 0 3px #333 inset;
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: #000000;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: transparent;
}


i.fa.fa-user {
    position: relative;
    z-index: -1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 130px;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
#navbar .dropdown-content li {
    padding: 0 5px;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: #444;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

/*===== Search Page =====*/
#search-result .search-head h2{
    text-align: center;
    padding: 0 0 10px 0;
    font-size: 32px;
}
#search-result .search-head h2 span {
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid #e1e1e1;
}

#search-result .result-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#search-result .related-cat {
    width: 25%;
    margin-top: 45px;
    padding: 10px 13px;
    border: 1px solid #e2e9e1;
}
#search-result .related-cat h3{
    padding: 10px 0;
    border-bottom: 1px solid #e1e1e1;
}
#search-result .related-cat ul{
    list-style: none;
}
#search-result .related-cat ul li {
    padding: 5px 0;
}
#search-result .related-cat ul li a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 14px;
}

#search-result .search-items {
    width: 75%;
}

#search-result .pro-container{
    justify-content: space-evenly;
}

/* ===== User Profile ===== */
.user_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    margin-top: 20px;
    background-color: #ffeded;
    width: 50%;
    padding: 10px 50px;
    border-radius: 5px;
    border: 1px solid #b89e9e;
}

.user_profile table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.user_profile table tr {
    border-bottom: 1px solid #ddd;
}

.user_profile table td {
    padding: 10px 0;
    padding-left: 0px;
    padding-left: 20px;
    border-left: 2px solid #c0b5b5;
}
.user_profile table tr:last-child {
    border-bottom: none;
}



/*===== Responsive CSS =====*/

/* For Tabs */
@media (max-width:799px) {
/* ----------Home Page---------- */
    .section-pad1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }
    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }
    
/* ----------Contact Page---------- */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }

}

/* For Mobiles */

@media(max-width: 477px) {
/* ----------Home Page---------- */
    .section-pad1{
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 32px;
    }
    h1{
        font-size: 22px;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }
    #feature .feature-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box{
        height: 40vh;
    }
    #sm-banner .banner-box2{
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    footer .copyright{
        text-align: start;
    }

    /*----------Single product details----------- */
    #prodetails {
        display: flex;
        flex-direction: column;
    }
    #prodetails .single-pro-image {
        width: 100%;
        margin-right: 0;
    }
    #prodetails .single-pro-details {
        width: 100%;
    }

    /*----------About Us Page----------- */

    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding: 0;
    }

    #about-app .video {
        width: 100%;
    }

/* ----------Contact Page---------- */
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .map{
        width: 100%;
    }

    #form-details {
        margin: 10px;
        padding: 30px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }

    /*----------Cart Page----------- */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }


}



/* Updated CSS */
